<h2 class="title-chat"> Chat </h2>

<div class="inputs">

    <input class="input-autor" type="text" placeholder="Autor :"><br />
    <textarea class="input-mensaje" cols="30" rows="10" maxlength="120" placeholder="Mensaje :"></textarea><br />

    <button class="button-chat"> Enviar </button>

</div>

<div class="messages-chat"></div>
 