<section>

    <h2 class="title-form"> Formulario </h2>

    <div class="div-principal">

        <form class="form-input">

            <label for="name-prod"> Ingresa el Nombre del Producto : </label>
            <input type="text" name="product" id="name-prod" />

            <label for="price-prod"> Ingresa el Precio del Producto : </label>
            <input type="number" name="price" id="price-prod" />

            <label> Añade el URL de la Imágen de tu Producto : </label>
            <input type="text" name="thumbnail" id="img-prod" />

            <button class="form-button" type="submit"> Agregar Producto </button>

        </form>

    </div>

</section>