<section class="section-register">

    <h1 class="title-register"> Registrarse </h1>

    <form class="form-register" action="/register" method="post">

        <label for="name-register"> Ingresa tu Nombre : </label>
        <input id="name-register" name="name" type="text" />

        <label for="lastname-register"> Ingresa tus Apellidos : </label>
        <input id="lastname-register" name="lastname" type="text" />

        <label for="username-register"> Ingresa tu Nombre de Usuario : </label>
        <input id="username-register" name="username" type="text" />

        <label for="email-register"> Ingresa tu E-Mail : </label>
        <input id="email-register" name="email" type="email" />

        <label for="pass-register"> Ingresa tu Contraseña : </label>
        <input id="pass-register" name="password" type="password" />

        <input class="button-register" type="submit" value="Registrarse" />

    </form>

</section>