<section>

    <div class="div-principal">

        <form class="form-input">

            <h2 class="title-form"> Centro de Mensajes </h2>

            <label for="email"> E-Mail : </label>
            <input id="email" type="email" placeholder="E-Mail :" />

            <label for="name"> Nombre : </label>
            <input id="name" type="text" placeholder="Nombre :" />

            <label for="lastname"> Apellido : </label>
            <input id="lastname" type="text" placeholder="Apellido :" />

            <label for="age"> Edad : </label>
            <input id="age" type="number" placeholder="Edad :" />

            <label for="alias"> Alias : </label>
            <input id="alias" type="text" placeholder="Alias :" />

            <label for="avatar"> Avatar : </label>
            <input id="avatar" type="text" placeholder="Avatar :" />

            <label for="message"> Mensaje : </label>
            <textarea id="message" cols="30" rows="10" maxlength="120" placeholder="Mensaje :"></textarea>

            <button class="send-message" type="submit"> Enviar Mensaje </button>

        </form>

    </div>

</section>

<section class="messages-chat">



</section>